<!--
  Generated template for the PerfilEstudiantePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Perfil Estudiante</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <div *ngFor="let item of information">
        <div class="list card" *ngIf="item.id_usuario == id">
  
            <div class="item">
              <div style="text-align:center" ng>
                <div style="display:inline-block" ng-click="editarImagen()">
                <img src="https://images.vexels.com/media/users/3/140748/isolated/preview/5b078a59390bb4666df98b49f1cdedd0-perfil-avatar-masculino-by-vexels.png" class="custom-avatar" style="border-radius: 50%;width: 150px;height: 150px;">
                </div>
                  <h2 class="ng-binding">{{ item.nombre }}</h2><span class="font-size:10px;color:whitesmoke" ng-show="cliente.reputacion===0">
                Sin calificación
              </span>
                <span class="ion-android-star" style="color:darkgoldenrod;" ng-repeat="n in reputacionArr(cliente.reputacion)" ng-show="cliente.reputacion>0"></span>
              </div>
          
            </div>
          
            <div class="item item-body">
          
              <label class="item item-input item-stacked-label">
                      <span class="input-label">Dirección</span>
                      <br>
                          Lautaro #985
              </label> <br>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Región</span>
                <br>
                          {{item.region}}
              </label> <br>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Comuna</span>
                <br>
                         {{item.comuna}}
              </label>
                <br>
    
                <ion-card>
  
                    <ion-card-header>
                        Información extra:
                    </ion-card-header>
                  
                    <ion-card-content>
                        {{item.info_extra}}
                    </ion-card-content>
                  
                  </ion-card>
                      <br>
    
                <label style="padding-top:15px">
                  <button ion-button full style="border: 0;border-radius: 45px;color: blue"><p style="color: white">Editar</p></button> <!--ng-click="irEditarPerfilEmple()-->
                </label>
             
            </div>
          
          </div>
        </div>
    
    </ion-content>
